---
const platfrom = "github";
const username = "eiscreamsherlock";
---

<footer>
  <p>Learn more about what I'm working on at <a href={`https://www.${platfrom}.com/${username}`}>{platfrom}</a>!</p>
</footer>
