---
//import Navigation from './Navigation.astro';
import NavbarCodeStitch from './NavbarCodeStitch.astro';
import Menu from './Menu.astro';
---

<header>
  <nav>
    <!-- <Menu /> -->
    <!-- <Navigation /> -->
    <NavbarCodeStitch />
  </nav>
</header>
