---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Some Words From Me";
---
<BaseLayout pageTitle={pageTitle}>
    <!-- I don't know if this is the "correct" way to do this ,but it works -->
    <div>
        <p>At first, I succeeded.  The end.</p>
        <ul>
            <li><a href="/posts/post-1/">First! Post</a></li>
            <li><a href="/posts/post-2/">A 2nd Post</a></li>
            <li><a href="/posts/post-3/">Some learning stuff I'm working on.</a></li>
        </ul>
    </div>
</BaseLayout>
