---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "Some Words From Me";
const allPosts = await getCollection("blog");
---
<style>
  div {
    text-align: center;
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>At first, I succeeded.  The end.</p>
    <ul>
      { 
        allPosts.map((post: any) => (
          <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
        ))
      }
    </ul>
  </div>
</BaseLayout>
