---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from './components/BlogPost.astro';
// import.meta.glob returns and array of things that match the regex
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = "Some Words From Me";
---
<!-- TODO: Don't have this be inline styling. -->
<style>
  div {
    text-align: center;
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
    <!-- I don't know if this is the "correct" way to do this ,but it works -->
    <div>
        <p>At first, I succeeded.  The end.</p>
        <ul>
            <!-- I understand what's happening here.  But I can't seem to find the details of how
                that .map() method works in the Astro or Vite (where the glob matching comes from)
                work. -->
                {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
    </div>
</BaseLayout>
