---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from './components/Greeting.jsx';
import Hero from '../pages/components/Hero.astro';
const pageTitle = "Home";
---
<style>
    h2 {
        color: crimson;
        font-size: 2rem;
        font-color: crimson;
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <h2>This here's a landing page!</h2>
    <!-- <Greeting messages={["Hi", "Hello", "Willkommen", "Aloha", "Servus", "Hola", "Gruss Gott"]} /> -->
    <!-- client:load tells the page to re-run the JS on the CLIENT side when the page reloads. -->
    <!-- This is called a "hydrated" component -->
    <Greeting client:load messages={["Hej", "Witamy", "Salve", "Bienvenido"]} />
</BaseLayout>
