---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../pages/components/Hero.astro';
const pageTitle = "Home";
---
<style>
    h2 {
        color: crimson;
        font-size: 2rem;
        font-color: crimson;
    }
</style>

<BaseLayout>
    <div>
      <Hero />
      <!-- <h2>Behold!  Something like a landing page!</h2> -->
    </div>
</BaseLayout>
