---
import Navigation from './Navigation.astro';
//import NavbarCodeStitch from './NavbarCodeStitch.astro';
import Menu from './Menu.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <nav>
    <!-- <NavbarCodeStitch /> -->
    <div>
      <!-- <ThemeIcon /> -->
      <Menu />
    </div>
    <Navigation />
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
